<!--

 -->
<mapper namespace="smUser">
    <!-- 查询列表 -->
    <select id="listSmUser" resultType="SmUser">
        select * from sm_user
    </select>
    <!-- 查询单个用户 需要传参 -->
    <select id="getSmUser"  paramType="SmUser" resultType="SmUser">
        select * from sm_user where id=#{id} and user_name=#{userName}
    </select>
    <!-- 增加用户 -->
    <insert id="insertSmUser" paramType="SmUser">
        insert into sm_user(id,user_name) values(#{id},#{userName})
    </insert>
    <!-- 修改用户 -->
    <update id="updateUser" paramType="SmUser">
        update sm_user set user_name=#{userName} where id=#{id}
    </update>
    <!--  删除用户  -->
    <delete id="deleteSmUserById" paramType="String">
        delete from sm_user where id=#{id}
    </delete>
</mapper>