<!--

 -->
<mapper namespace="SmUserDao">
    <!-- 查询列表 -->
    <select id="listSmUser" resultType="com.yxh.www.testorm.entity.SmUser" paramType="com.yxh.www.testorm.entity.SmUser">
        select * from sm_user where id=#{id}
    </select>
    <!-- 查询单个用户 需要传参 -->
    <select id="getSmUser"  paramType="com.yxh.www.testorm.entity.SmUser" resultType="com.yxh.www.testorm.entity.SmUser">
        select * from sm_user where id=#{id} and user_name=#{userName}
    </select>
    <!-- 增加用户 -->
    <insert id="insertSmUser" paramType="com.yxh.www.testorm.entity.SmUser">
        insert into sm_user(id,user_name) values(#{id},#{userName})
    </insert>
    <!-- 修改用户 -->
    <update id="updateUser" paramType="com.yxh.www.testorm.entity.SmUser">
        update sm_user set user_name=#{userName} where id=#{id}
    </update>
    <!--  删除用户  -->
    <delete id="deleteSmUserById" paramType="java.lang.String">
        delete from sm_user where id=#{id}
    </delete>
</mapper>